.caret {
  display: inline-block;
  width: 0.55em;
  height: 1em;
  margin-left: var(--bevel-width);
  vertical-align: text-bottom;
  background: var(--color-highlight);
  animation: blink calc(var(--feel-caret-blink) * 2) steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
